/* Sphinx themes
-------------------------------------------------- */

body {
  position: relative;
  padding: 70px 0 0 0;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 2px solid #428bca;
  font-size: 16px;
}

div.clearer {
  clear: both;
}

.container-wrapper { padding: 0 15px; }
.container-fluid { max-width: 1440px; }

div.document {
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.5em;
}

div.related {
  display: none;
}

a.headerlink {
  visibility: hidden;
  color: #ddd;
  padding: 0 4px;
  text-decoration: none;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

a.headerlink:hover {
  color: #444;
  background: #eaeaea;
  text-decoration: none;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-weight: normal;
  margin: 30px 0px 10px 0px;
  padding: 0;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 240%; font-weight: bold; }
div.body h2 { font-size: 180%; border-bottom: 1px solid #ccc; padding-bottom: 6px; font-weight: bold; }
div.body h3 { font-size: 150%; font-weight: bold; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

p {
  margin: 1em 0;
}

div.body p, div.body dd, div.body li {
  line-height: 1.5em;
}

tt {
  font-family: Consolas, Monaco, Menlo, "Courier New", monospace;
  font-size: 14px;
}

code, pre {
  font-family: Consolas, Monaco, Menlo, "Courier New", monospace;
  font-size: 14px;
  color: #333333;
  line-height: 23px;
  margin: 20px 0;
}

pre {
    border: 1px solid #e1e1e8;
    padding: 9px 14px;
    background-color: #f7f7f7;
}

div.highlight {
  background-color: white;
}

.navbar>.container .navbar-brand {
  margin: 0 10px 0 0;
  color: #428bca;
  font-weight: bold;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("../_static/glyphicons-halflings.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../_static/glyphicons-halflings-white.png");
}

a.internal em {
  font-style: normal;
}

dl dd {
  margin-left: 30px;
  margin: 3px 0 10px 30px;
}

/* Sphinx sidebar
-------------------------------------------------- */

div.sphinxsidebar a {
  color: #444;
  text-decoration: none;
}

div.sphinxsidebar a:hover {
  border-bottom: 1px solid #999;
}

div.sphinxsidebar {
  word-wrap: break-word;
}

div.sphinxsidebar .panel-default > .panel-heading {
    background-image: none;
}

div.sphinxsidebarwrapper p.logo {
  padding: 0 0 8px 0;
  margin: 0 0 12px 0;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  color: #444;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

div.sphinxsidebar h4 {
  font-size: 16px;
}

div.sphinxsidebar h3 a {
  color: #444;
}

div.sphinxsidebar p.logo a,
div.sphinxsidebar h3 a,
div.sphinxsidebar p.logo a:hover,
div.sphinxsidebar h3 a:hover {
  border: none;
}

div.sphinxsidebarwrapper h3.logo {
  margin: 0;
}

div.sphinxsidebar p {
  color: #555;
  margin: 10px 0;
}

div.sphinxsidebar ul {
  margin: 0 0 4px 0;
  list-style-type: none;
  color: #000;
}

.panel-toc > ul {
    padding: 0 !important;
}

div.sphinxsidebar ul.want-points {
  margin-left: 20px;
  list-style: square;
}

div.sphinxsidebar ul ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: square;
  padding-left: 20px;
}

div.sphinxsidebar input {
  border: 1px solid #ccc;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 1em;
}

.margin-top-1em {
  margin-top: 1em;
}

/* Two-pane table list
-------------------------------------------------- */

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td,
table.two-column.table-bordered caption+thead tr:first-child th:first-child,
table.two-column.table-bordered caption+tbody tr:first-child td:first-child,
table.two-column.table-bordered colgroup+thead tr:first-child th:first-child,
table.two-column.table-bordered colgroup+tbody tr:first-child td:first-child,
table.two-column tbody td
  border: 0 0 1px 0 solid #eee;
  border-left: none;
  padding: 8px 4px;
  font-size: 16px;
}

table.two-column {
  width: 100%;
  border: 0px none !important;
  box-shadow: none;
}

/* GitHub stars in the menu
-------------------------------------------------- */

#github-stars iframe {
  margin: 0;
  padding: 0;
}

/* Disqus comments styles
-------------------------------------------------- */

.comment-container {
  margin: 24px auto;
}

/* Next and previous links
-------------------------------------------------- */

.top-links .breadcrumb {
  margin: -10px 0 0 0;
}

.top-links .breadcrumb, .footer-links .breadcrumb {
  background-color: #fff;
}

.top-links a {
  opacity: 0.7;
}

.footer-links {
  border-top: 1px solid #ccc;
  padding-top: 12px;
  margin-top: 30px;
}

.rel-spacer {
  height: 40px;
}

/* Footer styling
-------------------------------------------------- */

div.footer {
  margin: 20px auto 30px auto;
  font-size: 14px;
  color: #888;
  text-align: right;
}

div.footer a {
  color: #888;
}

/* -- relbar ---------------------------------------------------------------- */

div.related {
  width: 100%;
  font-size: 90%;
}

div.related h3 {
  display: none;
}

div.related ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}

div.related li {
  display: inline;
}

div.related li.right {
  float: right;
  margin-right: 5px;
}

/* -- search page ----------------------------------------------------------- */

ul.search {
  margin: 10px 0 0 20px;
  padding: 0;
}

ul.search li {
  padding: 5px 0 5px 20px;
  background: url(file.png) no-repeat 0 7px;
}

ul.search li a {
  font-weight: bold;
}

ul.search li div.context {
  color: #888;
  margin: 2px 0 0 30px;
  text-align: left;
}

ul.keywordmatches li.goodmatch a {
  font-weight: bold;
}

/* -- general index --------------------------------------------------------- */

table.indextable {
  width: 100%;
}

table.indextable td {
  text-align: left;
  vertical-align: top;
}

table.indextable dl, table.indextable dd {
  margin-top: 0;
  margin-bottom: 0;
}

table.indextable tr.pcap {
  height: 10px;
}

table.indextable tr.cap {
  margin-top: 10px;
  background-color: #f2f2f2;
}

img.toggler {
  margin-right: 3px;
  margin-top: 3px;
  cursor: pointer;
}

div.modindex-jumpbox {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 1em 0 1em 0;
  padding: 0.4em;
}

div.genindex-jumpbox {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 1em 0 1em 0;
  padding: 0.4em;
}

/* -- general body styles --------------------------------------------------- */

div.body p.caption {
  text-align: inherit;
}

table.field-list {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table.field-list td,
table.field-list th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
  line-height: 1.4;
}

.field-list ul {
  padding-left: 1em;
}

.first {
  margin-top: 0 !important;
}

p.rubric {
  margin-top: 30px;
  font-weight: bold;
}

img.align-left, .figure.align-left, object.align-left {
  clear: left;
  float: left;
  margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* -- topics ---------------------------------------------------------------- */

div.topic {
  border: 1px solid #ccc;
  padding: 7px 7px 0 7px;
  margin: 10px 0 10px 0;
  background-color: #f8f8f8;
}

p.topic-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
}

/* -- admonitions ----------------------------------------------------------- */

.admonition {
  margin: 20px 0;
  padding: 20px;
  background-color: #fafafa;
  border: none;
}

.admonition dt {
  font-weight: bold;
}

.admonition dl {
  margin-bottom: 0;
}

.admonition-title {
  margin: 0px 0 5px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: underline;
}

.admonition.danger,
.admonition.error { background-color: #fdf7f7; border-color: #d9534f; }
.admonition.danger .admonition-title,
.admonition.error .admonition-title { color: #d9534f; }

.admonition.important,
.admonition.warning,
.admonition.attention,
.admonition.caution { background-color: #fcf8f2; border-color: #f0ad4e; }
.admonition.important .admonition-title,
.admonition.warning .admonition-title,
.admonition.attention .admonition-title,
.admonition.caution .admonition-title { color: #f0ad4e; }

.admonition.note,
.admonition.hint,
.admonition.tip { background-color: #f4f8fa; border-color: #5bc0de; }
.admonition.note .admonition-title,
.admonition.hint .admonition-title,
.admonition.tip .admonition-title { color: #5bc0de; }

div.body p.centered {
  text-align: center;
  margin-top: 25px;
}

div.seealso {
  background-color: #ffc;
  border: 1px solid #ff6;
}

div.admonition tt.xref, div.admonition a tt {
  border-bottom: 1px solid #fafafa;
}

dd div.admonition {
  margin-left: -60px;
  padding-left: 60px;
}

div.admonition p.last {
  margin-bottom: 0;
}

/* -- other body styles ----------------------------------------------------- */

ol.arabic {
  list-style: decimal;
}

ol.loweralpha {
  list-style: lower-alpha;
}

ol.upperalpha {
  list-style: upper-alpha;
}

ol.lowerroman {
  list-style: lower-roman;
}

ol.upperroman {
  list-style: upper-roman;
}

.highlighted {
  background-color: #fbe54e;
}

dl.glossary dt {
  font-weight: bold;
  font-size: 1.1em;
}

.field-list ul {
  margin: 0;
  padding-left: 1em;
}

.field-list p {
  margin: 0;
}

.refcount {
  color: #060;
}

.optional {
  font-size: 1.3em;
}

.versionmodified {
  font-style: italic;
}

.system-message {
  background-color: #fda;
  padding: 5px;
  border: 3px solid red;
}

.footnote:target  {
  background-color: #ffa;
}

.line-block {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.line-block .line-block {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
}

.guilabel, .menuselection {
  font-family: sans-serif;
}

.accelerator {
  text-decoration: underline;
}

.classifier {
  font-style: oblique;
}

abbr, acronym {
  border-bottom: dotted 1px;
  cursor: help;
}

dt:target, .highlight {
  background: #FAF3E8;
}

/* -- code displays --------------------------------------------------------- */

td.linenos pre {
  padding: 5px 0px;
  border: 0;
  background-color: transparent;
  color: #aaa;
}

table.highlighttable {
  margin-left: 0.5em;
}

table.highlighttable td {
  padding: 0 0.5em 0 0.5em;
}

tt.descname {
  background-color: transparent;
  font-weight: bold;
  padding-right: 0.08em;
}

tt.descclassname {
  background-color: transparent;
}

tt.descname, tt.descclassname {
  font-size: 0.95em;
}

tt.xref, a tt {
  background-color: transparent;
  font-weight: bold;
}

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
  background-color: transparent;
}

.viewcode-link {
  float: right;
}

.viewcode-back {
  float: right;
  font-family: sans-serif;
}

div.viewcode-block:target {
  margin: -1px -10px;
  padding: 0 10px;
}

/* -- math display ---------------------------------------------------------- */

img.math {
  vertical-align: middle;
}

div.body div.math p {
  text-align: center;
}

span.eqno {
  float: right;
}

/* -- Theme specific classes - */

.overflow-height-500px {
  overflow: auto;
  height: 500px;
}

.overflow-height-250px {
  overflow: auto;
  height: 250px;
}

/* Small screen styles
-------------------------------------------------- */

@media screen and (max-device-width: 480px) {

  body {
    margin: 0;
    padding-top: 0;
  }

  .body {
    width: 100%;
    float: none;
    min-height: 0;
    padding: 10px;
    margin-top: 20px;
  }

  .navbar-fixed-top {
    position: static;
  }

  div.sphinxsidebar {
    float: none;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 10px 20px;
  }

  div.sphinxsidebar p.logo {
    display: none;
  }

  #github-stars {
    display: none;
  }
}

.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */